<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >Pets List</ion-title>
    <ion-fab-button size="small" slot="end" fill="clear" routerLink='/addpet'>
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-list *ngFor="let pet of this.srv.pets, index as i">
    <ion-item [color]="pet.type == 'Fish' ? 'danger' : 'warning'" >
     <ion-label>
       <h3> {{pet.name}}</h3>
       <p>  {{pet.type}}</p> 
      </ion-label> 
      <ion-button expand="block" fill="solid" color="dark" (click)="feed(i)">Feed</ion-button>  
    </ion-item>
  </ion-list>
</ion-content>
