<ion-header>
  <ion-toolbar>
    <ion-title>Add Pet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Name </ion-label>
    <ion-input type="text" placeholder="Enter pet name "[(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-list>
    <ion-radio-group [(ngModel)]="type">
      <ion-list-header>
        <ion-label>
         Type
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Bird</ion-label>
        <ion-radio value="Bird"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Fish</ion-label>
        <ion-radio value="Fish"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
  <br>
  <ion-button  (click)="Add()" expand="block" color ="medium" routerLink="/tabs" routerDirection="backward" [disabled]="!name || !type">Add Pet</ion-button>
</ion-content>
